/**
 *   Style main compilation point
 */

// Variables

$m : 24px

// Imports

@font-face
  font-family: 'emo'
  font-style: normal
  font-weight: normal
  src: url('./fonts/Blimone-LightInktrap.eot?') format('eot'), url('./fonts/Blimone-LightInktrap.woff') format('woff'), url('./fonts/Blimone-LightInktrap.ttf') format('truetype'), url('./fonts/Blimone-LightInktrap.svg') format('svg')
@font-face
  font-family: 'emo'
  font-style: normal
  font-weight: bold
  src: url('./fonts/Blimone-ExtraBoldInktrap.eot?') format('eot'), url('./fonts/Blimone-ExtraBoldInktrap.woff') format('woff'), url('./fonts/Blimone-ExtraBoldInktrap.ttf') format('truetype'), url('./fonts/Blimone-ExtraBoldInktrap.svg') format('svg')

body
  background-color: #000
  color: white
  font-family: 'emo'

@import base/*
@import components/*
