/**
 *   Style main compilation point
 */
@font-face {
  font-family: "emo";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Blimone-LightInktrap.eot?") format("eot"), url("./fonts/Blimone-LightInktrap.woff") format("woff"), url("./fonts/Blimone-LightInktrap.ttf") format("truetype"), url("./fonts/Blimone-LightInktrap.svg") format("svg"); }
@font-face {
  font-family: "emo";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Blimone-ExtraBoldInktrap.eot?") format("eot"), url("./fonts/Blimone-ExtraBoldInktrap.woff") format("woff"), url("./fonts/Blimone-ExtraBoldInktrap.ttf") format("truetype"), url("./fonts/Blimone-ExtraBoldInktrap.svg") format("svg"); }
body {
  background-color: #000;
  color: white;
  font-family: "emo"; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

img, iframe {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none !important; }

a:focus {
  outline: 0; }

#emotional-map {
  height: 100vh;
  background-color: black; }

#emotional-map .leaflet-tile {
  filter: grayscale(1) invert(1); }

.site-map__actions {
  position: absolute;
  right: 48px;
  top: 48px;
  z-index: 15000;
  margin: 0;
  padding: 0; }

.site-map__action {
  list-style: none; }

.site-map__action {
  transition: opacity 0.2s ease; }

.site-map__action:hover {
  cursor: pointer;
  opacity: 0.5; }

.site-map__action[data-action="record"] {
  filter: invert(1);
  opacity: 0.5; }

.site-map__action[data-action="record"].active {
  opacity: 1; }

.site-map__action[data-action="record"]:before {
  content: url("../assets/icons/radio.svg");
  display: block;
  transform: scale(2); }

section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  transition: opacity 0.5s ease;
  display: none; }

section.active {
  display: block; }

.form-emotional {
  position: relative;
  top: 132px;
  z-index: 20000;
  margin: 0 48px;
  font-size: 3rem;
  width: calc(100% -244px); }
  .form-emotional label {
    margin: 48px; }
  .form-emotional input {
    width: 100%; }
    .form-emotional input:hover {
      cursor: pointer; }

.form-param {
  margin-bottom: 24px; }

.site-navigation {
  font-size: 6rem;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 15000;
  mix-blend-mode: exclusion;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold; }

.site-navigation__items {
  margin: 0;
  padding: 0; }

.site-navigation__item {
  list-style: none;
  display: inline;
  transition: color 0.2s ease; }
  .site-navigation__item:hover {
    color: #ff748c !important;
    cursor: pointer; }
  .site-navigation__item.active {
    color: pink; }

/*# sourceMappingURL=style.css.map */
