*
  box-sizing: border-box

html
  font-size: 62.5%

body
  font-size: 1.5rem
  margin: 0
  padding: 0
  overflow-x: hidden

img, iframe
  max-width: 100%
  height: auto

a
  text-decoration: none !important
  
a:focus
  outline: 0
