#emotional-map
  height: 100vh
  background-color: black

#emotional-map .leaflet-tile
  filter: grayscale(1) invert(1)


.site-map__actions
  position: absolute
  right: $m*2
  top: $m*2
  z-index: 15000
  margin: 0
  padding: 0

.site-map__action
  list-style: none

.site-map__action
  transition: opacity .2s ease

.site-map__action:hover
  cursor: pointer
  opacity: .5

.site-map__action[data-action="record"]
  filter: invert(1)
  opacity: .5
.site-map__action[data-action="record"].active
  opacity: 1
.site-map__action[data-action="record"]:before
  content: url('../assets/icons/radio.svg')
  display: block
  transform: scale(2)
