.site-navigation
  font-size: 6rem
  position: fixed
  top: $m
  left: $m
  z-index: 15000
  mix-blend-mode: exclusion
  text-transform: uppercase
  line-height: 1.2
  font-weight: bold

.site-navigation__items
  margin: 0
  padding: 0
.site-navigation__item
  list-style: none
  display: inline
  transition: color .2s ease
  &:hover
    color: darken(pink, 15%) !important
    cursor: pointer
  &.active
    color: pink
