.form-emotional
  position: relative
  top: 132px
  z-index: 20000
  margin: 0 $m*2
  font-size: 3rem
  width: calc(100% -244px)
  label
    margin: $m*2
  input
    width: 100%
    &:hover
      cursor: pointer

.form-param
  margin-bottom: $m
